#right-sidebar {
    right: 0.9rem;
    top: 5.0rem;
    /*opacity: 1;*/
    z-index: 500;
    width: 30rem;
}

.white-background {
    background: #ffffff;
}


@media (max-width: 320px) {
    #right-sidebar {
        width: 18rem;
    }
}

mat-tree mat-tree-node {
    font-size: 13px;
    min-height: auto;
}