  <div class="row">
    <div class="col-lg-12">
      <button mat-icon-button (click)="insertTree()" title="Создать папку"><mat-icon>add</mat-icon></button>
      
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          
          <button mat-icon-button disabled></button>
          <mat-checkbox class="checklist-leaf-node"
                        [checked]="checklistSelection.isSelected(node)"
                        (change)="checklistSelection.toggle(node);">{{node.item}}</mat-checkbox>
          <button mat-icon-button (click)="confirmDelete(node)" title="Удалить"><mat-icon>delete</mat-icon></button>
        </mat-tree-node>
      
        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-form-field>
            <input matInput #itemValue placeholder="Новый элемент..." (keyup.enter)="saveNode(node, itemValue.value)">
          </mat-form-field>
          <button mat-button (click)="deleteItem(node)">Отмена</button>
        </mat-tree-node>
      
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button disabled  *ngIf="!node.extendable"></button>
          <button mat-icon-button matTreeNodeToggle *ngIf="node.extendable"
                  [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="descendantsAllSelected(node)"
                        [indeterminate]="descendantsPartiallySelected(node)"
                        (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                        <button mat-icon-button (click)="addNewItem(node, 'folder')" title="Добавить папку"><mat-icon>create_new_folder</mat-icon></button>
                        <button mat-icon-button (click)="addNewItem(node)" title="Добавить слой"><mat-icon>add</mat-icon></button>
                        <button mat-icon-button (click)="confirmDelete(node)" title="Удалить"><mat-icon>delete</mat-icon></button>
        </mat-tree-node>

        <!-- <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox [checked]="descendantsAllSelected(node)"
                          [indeterminate]="descendantsPartiallySelected(node)"
                          (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                          <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
        </mat-tree-node> -->

      </mat-tree>
    </div>
  </div>