<h2 mat-dialog-title>Подтвердите действие</h2>

<mat-dialog-content>
  <p>Вы действительно хотите удалить выбранный узел?</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Удалить</button>
  <button mat-button mat-dialog-close>Отмена</button>
</mat-dialog-actions>